.App {
  font-family: sans-serif;
  text-align: left;
  margin: 30px auto;
  width: 400px;
}
input {
  outline: none;
  margin-left: 10px;
}
button {
  margin-top: 10px;
  padding: 5px 30px;
}

.game-board {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid #000;
  position: relative;
}

.circle {
  width: 45px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  transition: opacity 0.5s ease-out;
}

.circle.fade-out {
  opacity: 0;
  background-color: #ff0000;
}

.default {
  color: black;
}

.playing {
  color: #1e90ff;
}

.won {
  color: #32cd32;
}

.lost {
  color: #ff0000;
}
